{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
    {#    <div "></div>#}
    <div class="col-xs-12 col-sm-9" style="margin-top: 35px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">经典语录一</h3>
            </div>
            <div class="panel-body">
                有些可惜，是没办法十全十美。有些可惜，是某些长久的遗憾。
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">经典语录二</h3>
            </div>
            <div class="panel-body">
                该省之省，一文铜钱，即是家族根本。该花则花，一掷千金，根本无需眨眼。
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">经典语录三</h3>
            </div>
            <div class="panel-body">
                行走江湖，我有一剑！
                少年从未如此酣畅淋漓，如此想要宣泄心中积郁，在万人大军之中，手持一剑功成的槐木剑，少年放声道：“大骊陈平安在此！”
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">经典语录四</h3>
            </div>
            <div class="panel-body">
                大道之上，曾经有人，身无别物，唯有仗剑直行。
                但凡有物阻拦，一剑开道。
                但凡有不平事，一剑而平。
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">经典语录五</h3>
            </div>
            <div class="panel-body">
                但是两看相厌，不等于可以只看对方惹人厌的地方。两看欢喜，则一样不可以只看到好的地方。
            </div>
        </div>
    </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}