{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
    {#    <div "></div>#}
    <div class="col-xs-12 col-sm-9" style="margin-top: 35px">
        <div id="container" style="width:850px;height:300px;"></div>
         <!-- 加载编辑器的容器 -->
         
        <script id="container" name="content" type="text/plain">
                 这里写你的初始化内容
         
        </script>
                 <!-- 配置文件 -->
                 
        <script type="text/javascript" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
                 <!-- 编辑器源码文件 -->
                 
        <script type="text/javascript" src="{{ url_for('static', filename='ueditor/ueditor.all.js') }}"></script>
                 <!-- 实例化编辑器 -->
    <script type="text/javascript"  src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
                 
        <script type="text/javascript">
            var ue = UE.getEditor('container');
        </script>

    </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}