{% extends "common/base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
{#    <div "></div>#}
    <div class="col-xs-12 col-sm-9" style="margin-top: 35px">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>剑来</h1>
            <p>作者: 烽火戏诸侯</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录一</h4>
                <p>有些可惜，是没办法十全十美。有些可惜，是某些长久的遗憾。</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录二</h4>
                <p> 该省之省，一文铜钱，即是家族根本。该花则花，一掷千金，根本无需眨眼。</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录三</h4>
                <p> 行走江湖，我有一剑！
                    少年从未如此酣畅淋漓，如此想要宣泄心中积郁，在万人大军之中，手持一剑功成的槐木剑，少年放声道：“大骊陈平安在此！”</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录四</h4>
                <p>大道之上，曾经有人，身无别物，唯有仗剑直行。
                    但凡有物阻拦，一剑开道。
                    但凡有不平事，一剑而平。</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录五</h4>
                <p>但是两看相厌，不等于可以只看对方惹人厌的地方。两看欢喜，则一样不可以只看到好的地方。</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h4>经典语录六</h4>
                <p>宁姚突然伸手指向少年，一脸恍然大悟的表情，眯眼笑道：“陈平安，老实交代，你是不是图谋不轨，心想着以后把‘宁姑娘’变成自己媳妇，那还不是所有东西都是自己的了？这小算盘打得噼里啪啦的，厉害啊！”</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}